
target/
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.example/Proyecto02-Lucatinder/pom.properties
LucaTinder/target/

# !.mvn/wrapper/maven-wrapper.jar

# !**/src/main/**

# !**/src/test/**


### STS ###

# .apt_generated

# .classpath

# .factorypath

# .project

# .settings

# .springBeans

# .sts4-cache

# .class


### IntelliJ IDEA ###

.idea

*.iws

*.iml

*.ipr


### NetBeans ###

/nbproject/private/

/nbbuild/

/dist/

/nbdist/
/.nb-gradle/

# build/


### VS Code ###

# .vscode/