<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
     <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
  <div class="titulo"><p>LucaTinder</p></div>
  
  <div class="navbarTinder">
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-info" href="#!">Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-info" href="#!" >Matches</a>
  </li>
  </ul>
  </div>  
  
   <div id="grilla">
   
    <div class="col-md-4 text-center" style="margin: auto">
  <h2 class="subtitulo">Perfiles seleccionados</h2>
  <div class="table-responsive-md">
  <table class="table table-striped">
    <thead>
    
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
     <td><img src="images/1.jpg" class="imgTinder" alt="Responsive image" style="width: 60px"></td>
      <td>{{user.name}}</td>
      <td>{{user.edad}}</td>      
      <td><button class="btn btn-success" (click)=#>♥</button></td>
      <td><button class="btn btn-danger" (click)=# style="font-weight: bold">X</button></td>

    </tr>
    </tbody>
  </table>
  </div>
  </div>
              
  </div>
</body>
</html>